/*
Theme Name: Catch Box
Theme URI: http://catchthemes.com/themes/catchbox
Author: Catch Themes
Author URI: http://catchthemes.com
Description: Catch Box is simple, lightweight, box shaped, and adaptable WordPress Theme for bloggers and professionals. It is based on HTML5, CSS3 and Responsive Web Design to view in various devices. 10 Best Reasons to use Catch Box Theme. 1. Responsive Web Design, 2. Custom Menus (Primary, Secondary and Footer menus), 3. Theme Options for light, dark, blue, green, red, brown and orange color scheme, custom link colors, three layout choices, two content choices between excerpt and content option in homepage, feed redirection, custom css styles, 4. Featured Sliders where you can define number of slides and post IDs, 5. Social Links (Facebook, Twitter, RSS, Linkedin, Pinterest, etc), 6. Webmaster Tools (Google, Yahoo and Bing site verification ID, Header and Footer codes), 7. Custom Backgrounds, 8. Custom Header, 9. Catchbox Adspace widget to add any type of Advertisements, and 10. Support popular plugins. Multilingual Ready (WPML) and also currently translated in Brazilian Portuguese, Spanish, Danish, German, French, Polish, Czech, Croatian, Italian, Swedish, Russian, Arabic, Serbian, Dutch, Persian, Hungarian, Slovak, Japanese, Bosnian, Catalan and Romanian. Theme Support at http://catchthemes.com/support/
Version: 3.3
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: dark, light, blue, white, black, gray, green, red, brown, orange, one-column, two-columns, left-sidebar, right-sidebar, fixed-layout, fluid-layout, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


/* =Structure
----------------------------------------------- */

body {
	padding-top: 2em;
}
#page {
	margin: 0 auto 2em;
	max-width: 1000px;
}
#header-content {
    margin: 0 3%;
    padding: 2.5em 0;
	position: relative;
}
#access div, 
#access-secondary div,
#access-footer div {
	margin: 0 3%;
}
#primary {
	float: left;
	margin: 0 -35.5% 0 0;
	width: 100%;
}
#content {
	margin: 0 38.6% 0 3%;
	width: 58.4%;
}
#secondary {
	float: right;
	margin-right: 3%;
	width: 32.5%;
}

/* Right Content */
.sidebar-content #primary {
	float: right;
	margin: 0 0 0 -35.5%;
}
.sidebar-content #content {
	margin: 0 3% 0 38.6%;
}
.sidebar-content #secondary {
	float: left;
	margin-left: 3%;
	margin-right: 0;
}

/* Singular and Fullwidth */
.singular #primary,
.fullwidth #primary {
	margin: 0;
}
.singular #content,
.fullwidth #content,
.sidebar-content.singular #content {
	margin: 0 3%;
	position: relative;
	width: auto;
}

/* Attachments */
.singular.single-attachment .entry-header,
.singular .image-attachment .entry-content {
	margin: 0 auto;
	width: auto;
}
.singular .image-attachment .entry-description {
	padding: 1em 0 0;
	text-align: center;
}

/* error404 */
.error404 #primary {
	float: none;
	margin: 0;
}
.error404 #primary #content {
	margin: 0 3%;
	width: auto;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 2em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 2em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* One column */
.content-onecolumn #page {
	max-width: 690px;
}
.content-onecolumn #content {
	margin: 0 3%;
	width: auto;
}
.content-onecolumn #nav-below {
	border-bottom: 1px solid #ccc;
	margin-bottom: 2em;
}
.content-onecolumn #secondary {
	float: none;
	margin: 0 3%;
	width: auto;
}

/* Remove the margin on singular articles */
.content-onecolumn.singular .entry-header,
.content-onecolumn.singular .entry-content,
.content-onecolumn.singular footer.entry-meta,
.content-onecolumn.singular #comments-title {
	width: 100%;
}
/* Simplify the pullquotes and pull styles */
.content-onecolumn.singular blockquote.pull {
	margin: 0 0 2em;
}
.content-onecolumn.singular .pull.alignleft {
	margin: 0 2em 0 0;
}
.content-onecolumn.singular .pull.alignright {
	margin: 0 0 0 2em;
}
.content-onecolumn.singular #author-info {
	margin: 2.2em -8.8% 0;
	padding: 20px 8.8%;
}
/* Make sure we have room for our comment avatars */
.content-onecolumn .commentlist > li.comment {
	margin-left: 102px;
	width: auto;
}
/* Talking avatars take up too much room at this size */
.content-onecolumn .commentlist > li.comment {
	margin-left: 0;
}
.content-onecolumn .commentlist > li.comment .comment-meta,
.content-onecolumn .commentlist > li.comment .comment-content {

}
.content-onecolumn .commentlist .avatar {

}
.content-onecolumn .commentlist .children .avatar {
	background: none;
	padding: 0;
	position: absolute;
	left: 2.2em;
}
.content-onecolumn #respond {
	width: auto;
}


/* =Global
----------------------------------------------- */

body, input, textarea {
	color: #373737;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.625;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;	
}
body {
	background: #ccc;
}
#page {
	background: #eee;
	-moz-border-radius: 5px;
    border-radius: 5px;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 2em;
}

/* Text elements */
p {
	margin-bottom: 2em;
}
ul, ol {
	margin: 0 0 2em 2.5em;
}
ul {
	list-style: disc;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 2em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 2em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 2em;
	overflow: auto;
	padding: 0.75em 2em;
}
code, kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 2em;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Forms */
input[type=text],
input[type=password],
textarea {
	background: #fafafa;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #ccc;
	color: #888;
}
input[type=text]:focus,
textarea:focus {
	color: #373737;
}
textarea {
	padding-left: 3px;
	width: 98%;
}
input[type=text] {
	padding: 3px;
}
input#s {
	background: url("images/search.png") no-repeat scroll 5px 6px #f0f0f0;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 4px 10px 4px 28px;
}
input#searchsubmit {
	display: none;
}
.widget select, option {
	max-width: 100%;
}
/* Links */
a {
	color: #1982d1;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: underline;
}

/* Assistive text */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ccc;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 3%;
}
/* clearfix hack */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
	height:1%;
}
.clearfix {
	display: block;
}
.clear {
	clear: both;
}
/* close commented backslash hack */
.displayblock {
	display: block;
}
.displaynone {
	display: none;
}

/* =Header
----------------------------------------------- */

#branding {
	background-color: #fff;
	padding-bottom: 10px;
	position: relative;
	z-index: 21;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#site-title {
	padding: 0;
	font-size: 36px;
	line-height: 46px;
}
#site-title a {
	color: #111;
	font-weight: bold;
	text-decoration: none;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color: #1982d1;
}
#site-description {
	color: #7a7a7a;
	font-size: 14px;
}
.logo-wrap {
    clear: both;
    display: inline-block;
    float: left;
    max-width: 100%;
}
#branding img {
	height: auto;
	max-width: 100%;
}
#site-logo {
	line-height: 0;
}
#branding #site-logo img { margin: 0 }

/* =Menu
-------------------------------------------------------------- */

#branding #access,
#colophon #access-footer {
	background: #3d3d3d; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#585858, #3d3d3d);
	background: -o-linear-gradient(#585858, #3d3d3d);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#585858), to(#3d3d3d)); /* older webkit syntax */
	background: -webkit-linear-gradient(#585858, #3d3d3d);
	clear: both;
	display: block;
	float: left;
	margin: 0 auto 2px;
	width: 100%;
}
#branding ul.menu, 
#colophon #access-footer ul.menu {
	font-size: 14px;
	list-style: none;
	margin: 0 0 0 -0.8125em;
	padding-left: 0;
}
#branding ul.menu li {
	border-left: 1px solid #444;
	float: left;
	position: relative;
}
#branding ul.menu a,
#colophon #access-footer ul.menu a {
	color: #eee;
	line-height: 3em;
	padding: 0 1.2125em;
	text-decoration: none;
}
#branding ul.menu a {
	display: block;
}
#branding ul.menu ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 3em;
	left: 0;
	list-style: none;
	width: 188px;
	z-index: 99999;
}
#branding ul.menu ul ul {
	left: 100%;
	top: 0;
}
#branding ul.menu ul a {
	background: #f9f9f9;
	border-bottom: 1px dotted #ccc;
	color: #444;
	font-size: 13px;
	font-weight: normal;
	height: auto;
	line-height: 1.4em;
	padding: 10px;
	width: 168px;
}
#branding ul.menu li:first-child, 
#branding ul.menu ul li {
	border:none;
} 
#branding ul.menu li:hover > a,
#branding ul.menu ul :hover > a,
#branding ul.menu a:focus {
	background: #efefef;
}
#branding ul.menu li:hover > a,
#branding ul.menu a:focus,
#colophon #access-footer ul.menu a:hover,
#colophon #access-footer ul.menu a:focus {
	background: #e5e5e5; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
	background: -o-linear-gradient(#f9f9f9, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e5e5e5'); /* for IE */
	color: #373737;
}
#branding ul.menu li:hover > ul {
	display: block;
}
#branding .menu .current-menu-item > a,
#branding .menu .current-menu-ancestor > a,
#branding .menu .current_page_item > a,
#branding .menu .current_page_ancestor > a,
#colophon .menu .current-menu-item a {
	font-weight: bold;
}
#access-secondary { 
	background-color: #e6e6e6;
	clear: both;
    display: block;
    float: left;
    margin: 0 auto 2px;
    width: 100%;
}
#branding #access-secondary ul.menu {
	font-size: 13px;
}
#branding #access-secondary ul.menu li {
    border-left: 1px solid #dedede;
}
#branding #access-secondary ul.menu a {
	color: #373737;
	line-height: 2.5em;
}
#branding #access-secondary ul.menu ul {
    list-style: none;
    top: 2.5em;
}
#branding #access-secondary ul.menu ul a {
    line-height: 1.5em;
}
#branding #access-secondary ul.menu ul ul { 
	top: 0;
}
#colophon #access-footer {
	margin-bottom: 0;
}
#colophon #access-footer ul.menu li {
	border-left: 1px solid #444;
	float: left;
}
#colophon #access-footer ul.menu ul {
	border-left: 1px solid #444;
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0;
}
#colophon #access-footer ul.menu a {
    display: inline;
    float: left;
}
#branding #access-secondary ul.menu li:first-child,
#colophon #access-footer ul.menu li:first-child {
    border: none;
}
/* =Responsive Menu (Tinynav.js)
-------------------------------------------------------------- */
.tinynav { 
    display: none;
	font-size: 16px;
}
.default-menu {
	display: none !important;
}


/* =Search Form
----------------------------------------------- */

#branding #searchform {
	position: absolute;
	top: 2.8em;
	right: 0;
	text-align: right;
}
#branding #searchform div {
	margin: 0;
}
#branding #s {
	float: right;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
	width: 72px;
}
#branding #s:focus {
	background-color: #f9f9f9;
	width: 196px;
}
#branding #searchsubmit {
	display: none;
}
#branding .only-search #searchform {
	top: 5px;
	z-index: 1;
}
#branding .only-search #s {
	background-color: #666;
	border-color: #000;
	color: #222;
}
#branding .only-search #s,
#branding .only-search #s:focus {
	width: 85%;
}
#branding .only-search #s:focus {
	background-color: #bbb;
}
#branding .with-image #searchform {
	top: auto;
	bottom: -27px;
	max-width: 195px;
}
#branding .only-search + #access div {
	padding-right: 205px;
}


/* =Content
----------------------------------------------- */

#main {
	background-color: #eee;
	clear: both;
	padding: 2em 0 0;
}
.page-header {
    background-color: #FFFFFF;
    border-bottom: 2px solid #CCCCCC;
     -moz-border-radius: 5px;
	border-radius: 5px;
    margin: 0 0 2em;
    padding: 2em 5%;
}
.page-header .page-title, .page-header p {
	margin: 0;
}
.page-title {
	color: #666;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 18px;
	margin: 0 0 2em;
	text-transform: uppercase;
}
.page-title a {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;
}
.hentry, 
.no-results,
#author-info,
#disqus_thread,
#content .error404 {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    -moz-border-radius: 5px;
	border-radius: 5px;
    margin: 0 0 2em;
    padding: 0.5em 5% 2em;
    position: relative;
	width: auto;
	word-wrap: break-word;
}
.hentry:last-child,
.no-results {
	border-bottom: none;
}
.blog .sticky .entry-header .entry-meta {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.entry-title {
	clear: both;
	color: #222;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.5em;
	padding-bottom: .3em;
	padding-top: 15px;
}
.entry-title,
.entry-title a {
	color: #222;
	text-decoration: none;
}
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
	color: #1982d1;
}
.entry-meta {
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a {
	font-weight: bold;
}
.single-author .entry-meta .by-author {

}
.entry-content,
.entry-summary {
	padding: 2em 0 0;
}
.page .entry-content {
	padding: 1em 0 0;
}
.entry-content h1 {
    font-size: 26px;
}
.entry-content h2 {
    font-size: 24px;
}
.entry-content h3 {
    font-size: 22px;
    font-weight: bold;
	margin: 0 0 0.8125em;
}
.entry-content h4 {
    font-size: 20px;
    margin: 0 0 0.5em;
}
.entry-content h5 {
    font-size: 18px;
}
.entry-content h6 {
    font-size: 16px;
}
.entry-content h1,
.entry-content h2,
.comment-content h1,
.comment-content h2 {
	color: #000;
	font-weight: bold;
	margin: 0 0 .8125em;
}
.comment-content h3 {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ccc;
	margin: 0 0 2em;
	width: 100%;
}
.entry-content th,
.comment-content th {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ccc;
	padding: 6px 10px 6px 0;
}
.entry-content #s {
	width: 75%;
}
.comment-content ul,
.comment-content ol {
	margin-bottom: 2em;
}
.comment-content ul ul,
.comment-content ol ol,
.comment-content ul ol,
.comment-content ol ul {
	margin-bottom: 0;
}
dl.gallery-item {
	margin: 0;
}
.page-link {
    clear: both;
    display: block;
    float: right;
	margin: 0 0 2em;
}

.entry-meta .edit-link a,
.commentlist .edit-link a {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	float: right;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: 300;
	text-decoration: none;
	padding: 0 8px;
}
.singular .entry-header,
.singular .entry-content,
.error404 .entry-header,
.error404 .entry-content {
    margin: 0 auto;
    width: 68.9%;
}
.singular .entry-meta .edit-link a {
    margin: 0.35em;
}
.entry-meta .edit-link a:hover,
.commentlist .edit-link a:hover {
	background: #888;
	color: #fff;
}
.entry-content .edit-link {
	clear: both;
	display: block;
}
a.more-link { 
	white-space: nowrap;
}
/* Images */
.entry-content img,
.comment-content img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
	height: auto;
}
.widget img {
	max-width: 100%;
	text-align: center;
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.wp-post-image {
	max-width: 97.4%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 2em;
}
p img,
.wp-caption {
	margin-top: 0.4em;
}
.wp-caption {
	background: #eee;
	margin-bottom: 2em;
	max-width: 96%;
	padding: 9px;
}
.wp-caption img {
	display: block;
	margin: 0 auto;
	max-width: 98%;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	color: #666;
	font-family: Georgia, serif;
	font-size: 12px;
}
.wp-caption .wp-caption-text {
	margin-bottom: 0.2em;
	padding: 10px 0 0 40px;
	position: relative;
}
.wp-caption .wp-caption-text:before {
	color: #666;
	content: '\2014';
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	margin-right: 5px;
	position: absolute;
	left: 10px;
	top: 7px;
}
#content .gallery {
	margin: 0 auto 2em;
}
#content .gallery a img {
	border: none;
}
img#wpstats {
	display: block;
	margin: 0 auto 2em;
}
#content .gallery-columns-5 .gallery-item {
    padding: 0 1%;
    width: 18%;
}
{ }
#content .gallery-columns-4 .gallery-item {
	width: 23%;
	padding: 0 1%;
}
#content .gallery-columns-5 .gallery-item img,
#content .gallery-columns-4 .gallery-item img,
#content .gallery-columns-3 .gallery-item img {
    padding: 6% !important;
    max-width: 86%;
}
#content .gallery-columns-3 .gallery-item {
    padding: 0 1%;
    width: 31.33%;
}
#content .gallery-columns-1 .gallery-item img {
	max-width: 97%
}


#content .gallery dd.gallery-caption {
	margin-bottom: 1em;
}
/* Image borders */
img[class*="align"],
img[class*="wp-image-"],
#content .gallery .gallery-icon img,
img.wp-post-image,
img.attachment-thumbnail{/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border: 1px solid #ccc;
	padding: 6px;
}
.wp-caption img {
	border-color: #eee;
	padding: 0;
}
a:focus img[class*="align"],
a:hover img[class*="align"],
a:active img[class*="align"],
a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"],
#content .gallery .gallery-icon a:focus img,
#content .gallery .gallery-icon a:hover img,
#content .gallery .gallery-icon a:active img,
a:hover img.wp-post-image,
.gallery-thumb a:hover img.attachment-thumbnail {/* Add some useful style to those fancy borders for linked images ... */
	background: #eee;
	border-color: #bbb;
}
.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {/* ... including captioned images! */
	background: #fff;
	border-color: #ccc;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* Password Protected Posts */
.post-password-required .entry-header .comments-link {
	margin: 2em 0 0;
}
.post-password-required input[type=password] {
	margin: 0.8125em 0;
}
.post-password-required input[type=password]:focus {
	background: #f7f7f7;
}

/* Author Info */
#author-info {
	font-size: 12px;
	overflow: hidden;
	padding-top: 2em;
}
.archive #author-info {
	border-bottom: 1px solid #ccc;
	margin: 0 0 2.2em;
	padding: 0 0 2.2em;
}
#author-avatar {
    display: inline;
    float: left;
    width: 13%;
}
#author-avatar img {
	background: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #bbb;
	-moz-box-shadow: 0 1px 2px #bbb;
	box-shadow: 0 1px 2px #bbb;	
	height: auto;
    max-width: 90%;
    padding: 5%;
}
#author-description {
    display: inline;
    float: right;
    width: 82%;
}
#author-description h2 {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0 10px;
}
/* Featured Slider */
#slider {
    background-color: #555;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
	-moz-border-radius: 5px;
    margin: 0 0 2em;
    position: relative;
}
#slider-wrap a {
	display: block;
	padding: 11px 11px 10px;
	
}
#slider-wrap a.more-link {
	display: inline;
	padding: 0;
}
#slider-wrap img {
    border: none;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}
#slider-wrap a:hover img {
	background: none;
	border: none;
}
#slider-wrap .featured-text {
    color: #FFFFFF;
    padding: 0 11px 10px;
}
#content nav#nav-slider {
	padding: 0;
}
#nav-slider img {
	 max-width:33px;
	 height:auto;
	 width:100%;
}
#nav-slider .nav-previous, 
#nav-slider .nav-next {
    cursor: pointer;
    display: block;
    max-width: 33px;
    opacity: 0.7;
    position: absolute;
    top: 106px;
    width: 6%;
    z-index: 20;
}
#nav-slider .nav-previous:hover, 
#nav-slider .nav-next:hover {
	opacity: 10;
}
#nav-slider .nav-previous {
    left: 11px;
}
#nav-slider .nav-next {
    right: 11px;
}

/*
Post Formats Headings
To hide the headings, display: none the ".entry-header .entry-format" selector,
and remove the padding rules below.
*/
.entry-header .entry-format {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	right: 5px;
}
.entry-header hgroup .entry-title {
	padding-top: 15px;
}
article.format-aside .entry-content,
article.format-link .entry-content,
article.format-status .entry-content {
	padding: 20px 0 0;
}
article.format-status .entry-content {
	min-height: 65px;
}
.recent-posts .entry-header .entry-format {
	display: none;
}
.recent-posts .entry-header hgroup .entry-title {
	padding-top: 0;
}

/* Singular content styles for Posts and Pages */
.singular .hentry {
    padding: 3.88em 5%;
}
.singular.page .hentry,
#content .error404 {
    padding: 3em 5%;
}
.singular .entry-title,
.error404 .entry-title {
	color: #000;
	font-size: 36px;
	font-weight: bold;
	line-height: 48px;
}
.singular .entry-title,
.singular .entry-header .entry-meta {
	padding-right: 0;
}
.singular .entry-header .entry-meta {
    left: 30px;
    position: absolute;
    top: 23px;
}
blockquote.pull {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.6125em;
	margin: 0 0 2em;
	text-align: center;
}
.singular blockquote.pull {
	margin: 0 -22.25% 2em;
}
.pull.alignleft {
	margin: 0 2em 0 0;
	text-align: right;
	width: 33%;
}
.singular .pull.alignleft {
	margin: 0 2em 0 -22.25%;
}
.pull.alignright {
	margin: 0 0 0 2em;
	text-align: left;
	width: 33%;
}
.singular .pull.alignright {
	margin: 0 -22.25% 0 2em;
}
.singular blockquote.pull.alignleft,
.singular blockquote.pull.alignright {
	width: 33%;
}

/* =Aside
----------------------------------------------- */

.format-aside .entry-title,
.format-aside .entry-header .comments-link {
	display: none;
}
.singular .format-aside .entry-title {
	display: block;
}
.format-aside .entry-content {
	padding: 0;
}
.singular .format-aside .entry-content {
	padding: 2em 0 0;
}


/* =Link
----------------------------------------------- */

.format-link .entry-title,
.format-link .entry-header .comments-link {
	display: none;
}
.singular .format-link .entry-title {
	display: block;
}
.format-link .entry-content {
	padding: 0;
}
.singular .format-link .entry-content {
	padding: 2em 0 0;
}


/* =Gallery
----------------------------------------------- */

.format-gallery .gallery-thumb {
	float: left;
	display: block;
	margin: .375em 2em 0 0;
}


/* =Status
----------------------------------------------- */

.format-status .entry-title,
.format-status .entry-header .comments-link {
	display: none;
}
.singular .format-status .entry-title {
	display: block;
}
.format-status .entry-content {
	padding: 0;
}
.singular .format-status .entry-content {
	padding: 2em 0 0;
}
.format-status img.avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	float: left;
	margin: 4px 10px 2px 0;
	padding: 0;
}


/* =Quote
----------------------------------------------- */

.format-quote blockquote {
	color: #555;
	font-size: 17px;
	margin: 0;
}


/* =Image
----------------------------------------------- */

.indexed.format-image .entry-header {
	min-height: 61px; /* Prevent the comment icon from colliding with the image when there is no title */
}
.indexed.format-image .entry-content {
	padding-top: 0.5em;
}
.indexed.format-image p,
.indexed.format-image p img {
	margin-bottom: 0;
}
.indexed.format-image footer.entry-meta {
	background: #ccc;
	margin-top: -7px;
	padding: 20px 30px;
	overflow: hidden;
}
.indexed.format-image div.entry-meta {
	display: inline-block;
	float: left;
	width: 35%;
}
.indexed.format-image div.entry-meta + div.entry-meta {
	float: none;
	width: 65%;
}
.indexed.format-image .entry-meta span.cat-links,
.indexed.format-image .entry-meta span.tag-links,
.indexed.format-image .entry-meta span.comments-link {
	display: block;
}
.indexed.format-image footer.entry-meta a {
	color: #444;
}
.indexed.format-image footer.entry-meta a:hover {
	color: #fff;
}
#content .indexed.format-image img {
	border: none;
	max-width: 100%;
	padding: 0;
}
.indexed.format-image .wp-caption {
	background: #111;
	margin-bottom: 0;
	max-width: 96%;
	padding: 11px;
}
.indexed.format-image .wp-caption .wp-caption-text {
	color: #ccc;
}
.indexed.format-image .wp-caption .wp-caption-text:before {
	color: #444;
}
.indexed.format-image a:hover img {
	opacity: 0.8;
}


/* =error404
----------------------------------------------- */

.error404 #main #searchform {
	background: #f9f9f9;
	border: 1px solid #ccc;
	border-width: 1px 0;
	margin: 0 -30.55% 2em;
	overflow: hidden;
	padding: 2em 8.9%;
}
.error404 #main #s {
	width: 95%;
}
.error404 #main .widget {
	clear: none;
	float: left;
	margin-right: 3.7%;
	width: 30.85%;
}
.error404 #main .widget_archive {
	margin-right: 0;
}
.error404 #main .widget_tag_cloud {
	float: none;
	margin-right: 0;
	width: 100%;
}
.error404 .widgettitle {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}


/* =Showcase
----------------------------------------------- */

h1.showcase-heading {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}

/* Intro */
article.intro {
	background: #f9f9f9;
	border-bottom: none;
	margin: -1.855em -8.9% 2em;
	padding: 0 8.9%;
}
article.intro .entry-title {
	display: none;
}
article.intro .entry-content {
	color: #111;
	font-size: 16px;
	padding: 2em 0 0.625em;
}


/* Featured post */
section.featured-post {
	float: left;
	margin: -2em -8.9% 2em;
	padding: 2em 8.9% 0;
	position: relative;
	width: 100%;
}
section.featured-post .hentry {
	border: none;
	color: #666;
	margin: 0;
}
section.featured-post .entry-meta {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/* Small featured post */
section.featured-post .attachment-small-feature {
	float: right;
	height: auto;
	margin: 0 -8.9% 2em 0;
	max-width: 59%;
	position: relative;
	right: -15px;
}
section.featured-post.small {
	padding-top: 0;
}
section.featured-post .attachment-small-feature:hover,
section.featured-post .attachment-small-feature:focus,
section.featured-post .attachment-small-feature:active {
	opacity: .8;
}
article.feature-image.small {
	float: left;
	margin: 0 0 2em;
	width: 45%;
}
article.feature-image.small .entry-title {
	line-height: 1.2em;
}
article.feature-image.small .entry-summary {
	color: #555;
	font-size: 13px;
}
article.feature-image.small .entry-summary p a {
	background: #222;
	color: #eee;
	display: block;
	left: -23.8%;
	padding: 9px 26px 9px 85px;
	position: relative;
	text-decoration: none;
	top: 20px;
	width: 180px;
	z-index: 1;
}
article.feature-image.small .entry-summary p a:hover {
	background: #1982d1;
	color: #eee;
	color: rgba(255,255,255,0.8);
}

/* Large featured post */
section.feature-image.large {
	border: none;
	max-height: 288px;
	padding: 0;
	width: 100%;
}
section.feature-image.large .showcase-heading {
	display: none;
}
section.feature-image.large .hentry {
	border-bottom: none;
	left: 9%;
	margin: 2em 9% 0 0;
	position: absolute;
	top: 0;
}
article.feature-image.large .entry-title a {
	background: #222;
	background: rgba(0,0,0,0.8);
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-weight: 300;
	padding: .2em 20px;
}
section.feature-image.large:hover .entry-title a,
section.feature-image.large .entry-title:hover a {
	background: #eee;
	background: rgba(255,255,255,0.8);
	color: #222;
}
article.feature-image.large .entry-summary {
	display: none;
}
section.feature-image.large img {
	display: block;
	height: auto;
	max-width: 117.9%;
	padding: 0 0 6px;
}

/* Featured Slider */
.featured-posts {
	border-bottom: 1px solid #ccc;
	display: block;
	height: 328px;
	margin: 2em -8.9% 20px;
	max-width: 1000px;
	padding: 0;
	position: relative;
	overflow: hidden;
}
.featured-posts .showcase-heading {
	padding-left: 8.9%;
}
.featured-posts section.featured-post {
	background: #fff;
	height: 288px;
	left: 0;
	margin: 0;
	position: absolute;
	top: 30px;
	width: auto;
}
.featured-posts section.featured-post.large {
	max-width: 100%;
	overflow: hidden;
}
.featured-posts section.featured-post {
	-webkit-transition-duration: 200ms;
	-webkit-transition-property: opacity, visibility;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 200ms;
	-moz-transition-property: opacity, visibility;
	-moz-transition-timing-function: ease;
}
.featured-posts section.featured-post {
	opacity: 0;
	visibility: hidden;
}
.featured-posts #featured-post-1 {
	opacity: 1;
	visibility: visible;
}
.featured-post .feature-text:after,
.featured-post .feature-image.small:after {
	content: ' ';
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	width: 100%;
	height: 45px;
	position: absolute;
	top: 230px;
}
.featured-post .feature-image.small:after {
	top: 253px;
}
#content .feature-slider {
	top: 5px;
	right: 8.9%;
	overflow: visible;
	position: absolute;
}
.feature-slider ul {
	list-style-type: none;
	margin: 0;
}
.feature-slider li {
	float: left;
	margin: 0 6px;
}
.feature-slider a {
	background: #3c3c3c;
	background: rgba(60,60,60,0.9);
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 2px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 2px rgba(255,255,255,0.5);
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 2px rgba(255,255,255,0.5);
	display: block;
	width: 14px;
	height: 14px;
}
.feature-slider a.active {
	background: #1982d1;
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4), inset 0 0 2px rgba(255,255,255,0.8);
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4), inset 0 0 2px rgba(255,255,255,0.8);
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4), inset 0 0 2px rgba(255,255,255,0.8);
	cursor: default;
	opacity: 0.5;
}

/* Recent Posts */
section.recent-posts {
	padding: 0 0 2em;
}
section.recent-posts .hentry {
	border: none;
	margin: 0;
}
section.recent-posts .other-recent-posts {
	border-bottom: 1px solid #ccc;
	list-style: none;
	margin: 0;
}
section.recent-posts .other-recent-posts li {
	padding: 0.3125em 0;
	position: relative;
}
section.recent-posts .other-recent-posts .entry-title {
	border-top: 1px solid #ccc;
	font-size: 17px;
}
section.recent-posts .other-recent-posts a[rel="bookmark"] {
	color: #373737;
	float: left;
	max-width: 84%;
}
section.recent-posts .other-recent-posts a[rel="bookmark"]:after {
	content: '-';
	color: transparent;
	font-size: 11px;
}
section.recent-posts .other-recent-posts a[rel="bookmark"]:hover {
}
section.recent-posts .other-recent-posts .comments-link a,
section.recent-posts .other-recent-posts .comments-link > span {
	border-bottom: 2px solid #999;
	bottom: -2px;
	color: #444;
	display: block;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.76333em;
	padding: 0.3125em 0 0.3125em 1em;
	position: absolute;
	right: 0;
	text-align: right;
	text-transform: uppercase;
	z-index: 1;
}
section.recent-posts .other-recent-posts .comments-link > span {
	border-color: #bbb;
	color: #888;
}
section.recent-posts .other-recent-posts .comments-link a:hover {
	color: #1982d1;
	border-color: #1982d1;
}
section.recent-posts .other-recent-posts li:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}


/* =Attachments
----------------------------------------------- */

.image-attachment div.attachment {
    background: f9f9f9;
    overflow: hidden;
    text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto 2em;
	max-width: 100%;
}
.image-attachment div.attachment a img {
    border: 1px solid #ccc;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 97%;
    padding: 1%;
}
.image-attachment div.attachment a:focus img,
.image-attachment div.attachment a:hover img,
.image-attachment div.attachment a:active img {
	border-color: #bbb;
	background: #eee;
}
.image-attachment .entry-caption p {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	margin: 0 0 2.6em;
	text-transform: uppercase;
}


/* =Navigation
-------------------------------------------------------------- */

#content nav {
	clear: both;
	overflow: hidden;
	padding: 0 0 0.8em;
}
#content nav a {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 2.2em;
}
#nav-above {
	padding: 0 0 1.625em;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#content nav .meta-nav {
	font-weight: normal;
}
#nav-below .wp-pagenavi {
	float: right;
}
#nav-below .wp-pagenavi a, 
#nav-below .wp-pagenavi span, 
#nav-below #wp_page_numbers ul li a,
.page-link span,
.page-link a span {
	border: none;
	float:left;
	height:32px;
	background:#ddd;
	color:#555;
	text-align:center;
	font-size:14px;
	line-height:30px;
	display:block;
	padding:0 12px;
	text-decoration:none;
}
#nav-below .wp-pagenavi a, 
#nav-below .wp-pagenavi span,
.page-link span {
	margin: 0 0 0 10px;
}
#nav-below .wp-pagenavi span.pages,
.page-link span.pages {
	color: #555;
	background: none; 
	padding: 2px 0 0 0;
}
#nav-below .wp-pagenavi a:hover,
#nav-below #wp_page_numbers ul li a:hover,
.page-link a span:hover {
	background:#444;
	color:#fff;
}
#nav-below .wp-pagenavi span.current, 
#nav-below #wp_page_numbers ul li.active_page a,
.page-link span {
	background:#444;
	color:#fff;
	font-weight: normal;
}
#nav-below #wp_page_numbers {
    background: none repeat scroll 0 0 transparent;
    float: right;
    margin: 0;
    width: auto;
}
#nav-below #wp_page_numbers ul {
	border: none;
    list-style: none;
}
#nav-below #wp_page_numbers ul li {
    color: #aaa;
    float: left;
    font-size: 12px;
    line-height: 30px;
    margin-left: 10px;
}
#nav-below #wp_page_numbers ul li.page_info {
	background: none;
	border: none;
}


/* Singular navigation */
#nav-single {
    float: right;
    position: relative;
    right: 3%;
    text-align: right;
    top: 20px;
    z-index: 1;
}
#nav-single .nav-previous,
#nav-single .nav-next {
	float: none;
	width: auto;
}
#nav-single .nav-next {
	padding-left: .5em;
}


/* =Scrollup
----------------------------------------------- */

a#scrollup {
	background-color: #000;
	bottom: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	display: none;
	-webkit-font-smoothing: antialiased;
	font: normal 24px/1 'Genericons';
	padding: 5px;
	position: fixed;
	right: 20px;
	text-decoration: none;
	vertical-align: top;
	opacity: 0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	z-index: 999;
}
a#scrollup:before {
	content: '\f432';
}
a#scrollup:hover {
	opacity: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}


/* =Widgets
----------------------------------------------- */

.widget-area {
	font-size: 12px;
}
.widget {
    background-color: #fff;
	border-bottom: 2px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    clear: both;
    margin-bottom: 2em;
	padding: 0.5em 1em 1em;
}
.widget-title {
    border-bottom: 2px solid #ccc;
    color: #222;
	font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0 1em 0.5em;
	margin: 0 -0.75em 1em;
}
.widget-title a {
    color: #222;
	font-size: 16px;
    font-weight: bold;
}
.widget-title a:hover {
	text-decoration: none;
}
.widget .paddingtop {
    display: block;
    padding-top: 0.5em;
}
.widget ul {
    font-size: 15px;
    margin: 0 0 0 1em;
}
.widget ul ul {
	margin-left: 1.5em;
}
.widget ul li {
	color: #777;
	font-size: 13px;
}
.widget a {
	font-weight: 400;
	text-decoration: none;
}
.widget a:hover,
.widget a:focus,
.widget a:active {
	text-decoration: underline;
}

/* Search Widget */
.widget_search form {
    margin-top: 0.5em;
}
.widget_search #s {
	width: 87%;
}
.widget_search #searchsubmit {
	background: #ccc;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	color: #888;
	font-size: 13px;
	line-height: 25px;
	position: relative;
	top: -2px;
}
.widget_search #searchsubmit:active {
	background: #1982d1;
	border-color: #0861a5;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	color: #bfddf3;
}

/* Twitter */
.widget_twitter li {
	margin-bottom: 14px;
}
.widget_twitter .timesince {
	display: block;
	font-size: 11px;
	margin-right: -10px;
	text-align: right;
}

/* Widget Image */
.widget_image img {
	height: auto;
	max-width: 100%;
}

/* Calendar Widget */

.widget_calendar #wp-calendar {
	color: #555;
	width: 100%;
	text-align: center;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
}
.widget_calendar #wp-calendar caption {
	font-size: 11px;
	font-weight: 500;
	padding: 5px 0 3px 0;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.widget_calendar #wp-calendar tfoot td {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}


/* =Comments
----------------------------------------------- */

#comments-title {
    color: #222;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding: 0 0 2em;
}
#comments-title span {
	text-transform: uppercase;
}
.nopassword,
.nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}
.commentlist {
	list-style: none;
	margin: 0 auto;
	word-wrap: break-word;
}
.content .commentlist,
.page-template-sidebar-page-php .commentlist {
	width: 100%; /* reset the width for the one-column and sidebar page layout */
}
.commentlist > li.comment {
	background: #f6f6f6;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 2em;
	padding: 2em;
	position: relative;
}
.commentlist .pingback {
	margin: 0 0 2em;
	padding: 0 2em;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li.comment {
	border-left: 1px solid #ccc;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 2em 0 0;
	padding: 2em;
	position: relative;
}
.commentlist .children li.comment .fn {
	display: block;
}
.comment-meta .fn {
	font-style: normal;
}
.comment-meta {
    color: #666666;
    font-size: 12px;
    line-height: 2.2em;
    margin-left: 18%;
}
.comment-content {
    margin-left: 18%;
}
.commentlist .children li.comment .comment-meta {
	line-height: 2em;
	margin-left: 14%;
}
.commentlist .children li.comment .comment-content {
	margin: 2em 0 0;
}
.comment-meta a {
	font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	left: 30px;
	padding: 0;
	position: absolute;
	top: 30px;
	height: auto;
    max-width: 11%;
}
.commentlist > li:before {
}
.commentlist > li.pingback:before {
	content: '';
}
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	max-width: 10%;
	padding: 0;
	top: 3em;
}
a.comment-reply-link {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
	margin-top: 0.5em;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
	background: #ccc;
	border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}
.commentlist > li.bypostauthor:before {

}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	background: #ccc;
	border-color: #d3d3d3;
}

/* Comment Form */
#respond {
	background: #ccc;
	border: 1px solid #d3d3d3;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 2em;
	padding: 2em;
	position: relative;
	width: auto;
}
.singular #respond {
	width: 68.9%;
}
#respond input[type="text"],
#respond textarea {
	background: #fff;
	border: 4px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	position: relative;
	padding: 10px;
	text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	background: #eee;
	-webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	color: #555;
	display: inline-block;
	font-size: 13px;
	left: 4px;
	min-width: 60px;
	padding: 4px 10px;
	position: relative;
	top: 40px;
	z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	resize: vertical;
	width: 95%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	left: 75%;
	position: absolute;
	top: 45px;
	z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 13px;
}
#respond p {
	margin: 10px 0;
}
#respond .form-submit {
	float: right;
	margin: -20px 0 10px;
}
#respond input#submit {
	background: #222;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	margin: 20px 0;
	padding: 5px 42px 5px 22px;
	position: relative;
	left: 30px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#respond input#submit:active {
	background: #1982d1;
	color: #bfddf3;
}
#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond {
	margin: 2em 0 0;
	width: auto;
}
#reply-title {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
#cancel-comment-reply-link {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: 0.05em;
	position: absolute;
	right: 2em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
	color: #ff4b33;
}
#respond label {
	line-height: 2.2em;
}
#respond input[type=text] {
	display: block;
	height: 24px;
	width: 75%;
}
#respond p {
	font-size: 12px;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}


/* =Footer
----------------------------------------------- */

#colophon {
    border-top: 1px solid #ccc;
    clear: both;
}
#supplementary {
    background-color: #eee;
    overflow: hidden;
    padding: 2em 3% 0;
}
#supplementary .widget {
	margin-bottom: 2.5em;
}
#supplementary .widget-area {

}
#supplementary .widget-title {

}
#supplementary .widget ul {

}
/* Two Footer Widget Areas */
#supplementary.two .widget-area {
	float: left;
	width: 48.5%;
}
#supplementary.two .widget-area + .widget-area {
	float: right;
}

/* Three Footer Widget Areas */
#supplementary.three .widget-area {
    float: left;
    margin-right: 3%;
    width: 31.3%;
}
#supplementary.three .widget-area + .widget-area + .widget-area {
	margin-right: 0;
}

/* Site Generator Line */
#site-generator {
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 2px solid #aaa;
	clear: both;
	display: block;
	-moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
	padding: 2.2em 0.5em;
	text-align: center;
}
#site-generator a {
	color: #555;
	font-weight: bold;
}
#site-generator .sep {
	margin: 0 7px;
}
#site-generator .copyright, 
#site-generator .powered {
    display: inline;
    width: 47%;
}
#site-generator .copyright { 
	clear: both;
	margin-left: 3%;
	float: left;
    text-align: left;
}
#site-generator .powered { 
	margin-right: 3%;
	float: right;
    text-align: right;
}
/* Social Profile */
.social-profile {
    clear: both;
    float: right;
    margin-right: 2.8%;
    padding-bottom: 0.9em;
}
.social-profile ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.social-profile ul li {
	margin: 0 0 10px 10px;
	float: left;
}
.social-profile ul li a {
	display: block;
	background: url("images/social-profiles.png") no-repeat right top;
	width: 34px;
	height: 34px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-indent: -99999px;
}
.social-profile ul li a:active {
	-moz-box-shadow: inset 0 0 6px #000;
	-webkit-box-shadow: inset 0 0 6px #000;
	box-shadow: inset 0 0 6px #000;
}
.social-profile ul li.facebook a {
	background-position: 0 0;
}
.social-profile ul li.facebook a:hover {
	background-position: 0 -44px;
}
.social-profile ul li.twitter a {
	background-position: -44px 0;
}
.social-profile ul li.twitter a:hover {
	background-position: -44px -44px;
}
.social-profile ul li.rss a {
	background-position: -88px 0;
}
.social-profile ul li.rss a:hover {
	background-position: -88px -44px;
}
.social-profile ul li.you-tube a {
	background-position: -132px 0;
}
.social-profile ul li.you-tube a:hover {
	background-position: -132px -44px;
}
.social-profile ul li.linkedin a {
	background-position: -176px 0;
}
.social-profile ul li.linkedin a:hover {
	background-position: -176px -44px;
}
.social-profile ul li.tumblr a {
	background-position: -220px 0;
}
.social-profile ul li.tumblr a:hover {
	background-position: -220px -44px;
}
.social-profile ul li.viemo a,
.social-profile ul li.vimeo a {
	background-position: -264px 0;
}
.social-profile ul li.viemo a:hover {
	background-position: -264px -44px;
}
.social-profile ul li.dribbble a {
	background-position: -308px 0;
}
.social-profile ul li.dribbble a:hover {
	background-position: -308px -44px;
}
.social-profile ul li.my-space a {
	background-position: -352px 0;
}
.social-profile ul li.my-space a:hover {
	background-position: -352px -44px;
}
.social-profile ul li.aim a {
	background-position: -396px 0;
}
.social-profile ul li.aim a:hover {
	background-position: -396px -44px;
}
.social-profile ul li.flickr a {
	background-position: -440px 0;
}
.social-profile ul li.flickr a:hover {
	background-position: -440px -44px;
}
.social-profile ul li.pinterest a {
	background-position: -484px 0;
}
.social-profile ul li.pinterest a:hover {
	background-position: -484px -44px;
}
.social-profile ul li.google-plus a {
	background-position: -528px 0;
}
.social-profile ul li.google-plus a:hover {
	background-position: -528px -44px;
}
.social-profile ul li.wordpress a {
	background-position: -572px 0;
}
.social-profile ul li.wordpress a:hover {
	background-position: -572px -44px;
}
.social-profile ul li.deviantart a {
	background-position: -616px 0;
}
.social-profile ul li.deviantart a:hover {
	background-position: -616px -44px;
}
.social-profile ul li.slideshare a {
	background-position: -660px 0;
}
.social-profile ul li.slideshare a:hover {
	background-position: -660px -44px;
}
.social-profile ul li.instagram a {
	background-position: -704px 0;
}
.social-profile ul li.instagram a:hover {
	background-position: -704px -44px;
}
.social-profile ul li.skype a {
	background-position: -748px 0;
}
.social-profile ul li.skype a:hover {
	background-position: -748px -44px;
}
.social-profile ul li.soundcloud a {
	background-position: -792px 0;
}
.social-profile ul li.soundcloud a:hover {
	background-position: -792px -44px;
}
.social-profile ul li.email a {
	background-position: -837px 0;
}
.social-profile ul li.email a:hover {
	background-position: -837px -44px;
}
.social-profile ul li.xing a {
	background-position: -882px 0;
}
.social-profile ul li.xing a:hover {
	background-position: -882px -44px;
}
img#wpstats {
	display: none;
}


/* =Jetpack plugins
----------------------------------------------- */
/* Infinite Scroller */
#content #infinite-handle {
    display: block;
    padding-bottom: 2em;
    text-align: center;
    width: 100%;
}
#content #infinite-handle span {
    background-color: #444;
    display: block;
    font-size: 14px;
    padding: 10px 0;
    width: 100%;
}
#content #infinite-handle span:hover {
	background-color: #000;
}


/* =Responsive Structure
----------------------------------------------- */

/* Smaller than standard 1060 (devices and browsers) ----------- */
@media screen and (max-width: 1060px) {
  #page {
    max-width: 900px;
  }
  #nav-slider .nav-previous, 
  #nav-slider .nav-next {
    top: 94px;
  }
}

/* iPad (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	#page {
		width: 960px;
		max-width: 98%;
	}
}

/* iPad Portrait and other Smaller then standard 960 (devices and browsers) ----------- */
@media screen and (max-width: 960px) {
	#page {
		max-width: 708px;
	}
	/* Simplify the basic layout */
	#main #content {
		margin: 0 3%;
		width: auto;
	}
	#nav-slider .nav-previous,
	#nav-slider .nav-next {
		top: 137px;
	}
	#nav-below {
		border-bottom: 1px solid #ccc;
		margin-bottom: 2em;
	}
	#main #secondary {
		float: none;
		margin: 0 3%;
		width: auto;
	}
	#branding ul.menu a, 
	#colophon #access-footer ul.menu a {
   		padding: 0 0.83em;
	}
	/* Remove the margin on singular articles */
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		width: 100%;
	}
	/* Simplify the pullquotes and pull styles */
	.singular blockquote.pull {
		margin: 0 0 2em;
	}
	.singular .pull.alignleft {
		margin: 0 2em 0 0;
	}
	.singular .pull.alignright {
		margin: 0 0 0 2em;
	}
	.singular #author-info {
		margin: 2.2em -8.8% 0;
		padding: 20px 8.8%;
	}
	.widget_search #s {
		width: 93.8%;
	}
	/* Make sure we have room for our comment avatars */
	.commentlist {
		width: 100%;
	}
	.commentlist > li.comment,
	.commentlist .pingback {
		width: auto;
	}
	/* And a full-width comment form */
	#respond {
		width: auto;
	}
	/* No need to float footer widgets at this size */
	#colophon #supplementary .widget-area {
		float: none;
		margin-right: 0;
		width: auto;
	}
	/* No need to float 404 widgets at this size */
	.error404 #main .widget {
		float: none;
		margin-right: 0;
		width: auto;
	}	
	/* Menu */
	#access .menu-header-container,
	#access-secondary .menu-secondary-container,
	#access-footer .menu-footer-container {
		padding: 14px 0;
	}	
	#branding ul.menu, 
	#access-secondary.mobile-disable,
	#access-footer ul.menu,
	#colophon #access-footer.mobile-disable {
		display: none;
	}
	#branding ul.menu li,
	#access-footer ul.menu li {
		border: none;
	    float: none;
	    text-align: center;
    }
	#colophon #access-footer ul.menu a {
		display: block;
		float: none;
	}	
	.tinynav {
		background: url("images/menu.png") right 1px no-repeat;
		border: none;
		color: #fff;
		display: block;
		margin-bottom: 0;
		margin-left: auto;
		margin-top: 0;
		overflow: hidden;
		width: 100%;
	}	
	.tinynav2 {
		color: #373737;
	}	
	.tinynav option {
		color: #000;
	}	
}

/* Smaller then standard 767 (devices and browsers) ----------- */
@media screen and (max-width: 767px) {
	body {
   		padding: 0;
	}
	#page, 
	.one-column #page {
		width: 480px;
		margin-bottom: 0.5em;
	}
	#branding,
	#site-generator {
		border-radius: 0;
	}
	.logo-wrap {
		float: none;
		text-align: center;
	}
	#sidebar-header-right {
		margin-top: 2em;	
	}
	#sidebar-header-right, 
	#sidebar-header-right .widget,
	#branding #s {
		float: none;
	}
	#sidebar-header-top,
	#sidebar-header-right {
		text-align: center;
		width: 100%;
	}	
	input#s {
		font-size: 16px;
	}
	#main,
	#supplementary {
		padding-top: 1em;
	}
	#slider.slider-fullwidth {
		margin-bottom: 1em;
	}
	#header-content {
		padding: 2em 0 6em;
		text-align: center;
	}
	#branding #searchform {
		bottom: 2em;
		right: 0;
		text-align: center;
		top: auto;
		width: 100%;
	}
	#nav-slider .nav-previous,
	#nav-slider .nav-next {
		top: 82px;
	}
	#slider.slider-fullwidth  #nav-slider .nav-previous,
	#slider.slider-fullwidth  #nav-slider .nav-next {
		top: 20%;
	}	
	#slider, 
	.hentry, 
	.no-results, 
	#author-info, 
	#disqus_thread, 
	#content .error404,
	#nav-below,
	.widget,
	#supplementary .widget {
		margin-bottom: 1em;
	}
	#content nav,
	.home #content nav,
	.archive #content nav {
		padding-bottom: 1em;
	}
	/* Reposition the site title and description slightly */
	#site-title {
		padding: 0;
	}
	#site-title,
	#site-description {
		margin-right: 0;
	}
	/* Floated content doesn't work well at this size */
	.alignleft,
	.alignright {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	/* Make sure the post-post navigation doesn't collide with anything */
	#nav-single {
		display: block;
	}
	.no-sidebar .hentry {
		padding: 2em 5%;
	}
	.no-sidebar.page .hentry {
		padding: 2em 5%;
	}
	.widget_search #s {
		width: 89%;
	}
	/* Talking avatars take up too much room at this size */
	.commentlist .children li.comment .comment-meta {
		margin-left: 16%;
	}
	.commentlist > li.comment,
	.commentlist > li.pingback {
		margin-left: 0 !important;
	}
	.commentlist .children .avatar {
		background: none;
		left: 2.2em;
		padding: 0;
		position: absolute;
		top: 2.2em;
	}
	/* Pagination */
	#content #infinite-handle {
		padding-bottom: 1em;
	}
	#nav-below .wp-pagenavi a, 
	#nav-below .wp-pagenavi span, 
	#nav-below #wp_page_numbers ul li a,
	.page-link span,
	.page-link a span {
		height: 25px;
		font-size: 12px;
		line-height: 24px;
		padding: 0 10px;
	}	
	#nav-below .wp-pagenavi a, 
	#nav-below .wp-pagenavi span,
	.page-link span {
		margin: 0 0 0 5px;
	}	
	/* Use the available space in the smaller comment form */
	.no-sidebar #comments {
    	width: auto;
	}
	#respond input[type="text"] {
		width: 95%;
	}
	#respond .comment-form-author .required,
	#respond .comment-form-email .required {
		left: 95%;
	}
	#site-generator .social-profile {
		float: none;
		margin-right: 0;
		padding-bottom: 0;
		text-align: center;
	}
	.social-profile ul li {
		display: inline-block;
		float: none;
		margin: 0 0 5px 10px;
	}
	#site-generator {
		padding: 1em 0.5em;	
	}
	#site-generator .copyright, #site-generator .powered {
		display: block;
		margin: 0;
		float: none;
		text-align: center;
		width: 100%;
	}	
	.woocommerce #content ul.products li {
		margin-right: 0;
		width: 100%;
	}
	.woocommerce #content .product a.added_to_cart {
		clear: both;
		display: block;
	}
	#main .woocommerce .col-1,
	#main .woocommerce .col-2 {
		width: 100%;
	}
	/* Font Size */
	body,
	button,
	input,
	select,
	textarea {
		font-size: 14px;
	}	
	#site-title {
		font-size: 28px;
		line-height: 38px;
	}
	#access ul {
		font-size: 12px;
	}
	blockquote {
		margin: 0;
	}
	article.intro .entry-content,
	article.intro .entry-summary {
		font-size: 12px;
	}
	.entry-title {
		font-size: 21px;
	}
	.featured-post .entry-title {
		font-size: 14px;
	}
	blockquote.pull {
		font-size: 14px;
	}	
	.no-sidebar .entry-title {
		font-size: 28px;
	}
	.entry-meta {
		font-size: 12px;
	}	
	#site-generator {
		font-size: 11px;
	}	
}

/* iPhone (landscape) ----------- */
@media only screen 
and (min-width: 480px) 
and (max-width: 767px) {
	body {
		padding-top: 1em;
	}
	#page,
	.one-column #page {
		width: 450px;
	}	
	#page {
		margin-bottom: 1em;
	}
}

/* iPhone Portrait and other Smaller then standard 479 (devices and browsers) ----------- */
@media screen and (max-width: 479px) {
	#page,
	.one-column #page {
		width: 320px;
	}
	#content .gallery-columns-2 .gallery-item {
		width: 45%;
		padding-right: 4%;
	}
	#content .gallery-columns-2 .gallery-item img {
		width: 100%;
		height: auto;
	}
	#nav-slider .nav-previous,
	#nav-slider .nav-next {
		display: none;
	}
	/* Controllers */
	#controllers {
		display: block;
	}
	#controllers {
		text-align:center;
		padding: 5px 0 15px;
		line-height:0;
	}
	#controllers a {
		width: 12px;
		height: 12px;
		margin: 0 3px;
		overflow: hidden;
		display: inline-block;
		background-color: #b7b7b7;	
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		text-indent: -9999px;
	}
	#controllers a:hover, #controllers a.active {
		background-color:#000;
	}	
	.widget_search #s {
		width: 85%;
	}
	img.size-full,
	img.size-large,
	img.wp-post-image {
		max-width: 94.6%;
	}
	.commentlist .children li.comment .comment-meta {
		margin-left: 22%;
	}
	/* Font Size */
	body,
	button,
	input,
	select,
	textarea {
		font-size: 14px;
	}	
	#site-title {
		font-size: 26px;
		line-height: 36px;
	}
	#site-description {
		font-size: 12px;
	}	
	#site-generator {
		font-size: 10px;
	}
}

/* Smaller then standard 319 (devices and browsers) ----------- */
@media screen and (max-width: 319px) {
	#page {
		max-width: 100%;
	}
	#page {
		margin-top: 0;
	}
	#branding {
		border-top: none;
	}
	#branding #s:focus {
		width: 150px;
	}
	input[type="text"] {
		width: 98%;
	}
	.widget_search #s {
		width: 80%;
	}
	.entry-content img, 
	.comment-content img,
	img.size-full,
	img.size-large,
	img.wp-post-image {
		max-width: 92%;
   	 	padding: 3%;
	}		
}


/* =Print
----------------------------------------------- */

@media print {
	body {
		background: none !important;
		font-size: 10pt;
	}
	footer.entry-meta a[rel=bookmark]:link:after,
	footer.entry-meta a[rel=bookmark]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}
	#page {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		position: relative !important;
	}
	#branding {
		border-top: none !important;
		padding: 0;
	}
	#site-title a {
		font-size: 21pt;
	}
	#site-description {
		font-size: 10pt;
	}
	#branding #searchform {
		display: none;
	}
	#branding img {
		display: none;
	}
	#access {
		display: none;
	}
	#main {
		border-top: none;
		box-shadow: none;
	}
	#primary {
		float: left;
		margin: 0;
		width: 100%;
	}
	#content {
		margin: 0;
		width: auto;
	}
	.singular #content {
		margin: 0;
		width: 100%;
	}
	.singular .entry-header .entry-meta {
		position: static;
	}
	.entry-meta .edit-link a {
		display: none;
	}
	#content nav {
		display: none;
	}
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		margin: 0;
		width: 100%;
	}
	.entry-title,
	.singular .entry-title {
		font-size: 21pt;
	}
	.entry-meta {
		font-size: 10pt;
	}
	.entry-header .comments-link {
		display: none;
	}
	.page-link {
		display: none;
	}
	.singular #author-info {
		background: none;
		border-bottom: none;
		border-top: none;
		margin: 2.2em 0 0;
		padding: 0;
	}
	#respond {
		display: none;
	}
	.widget-area {
		display: none;
	}
	#colophon {
		display: none;
	}

	/* Comments */
	.commentlist > li.comment {
		background: none;
		border: 1px solid #ccc;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin: 0 auto 2em;
		padding: 2em;
		position: relative;
		width: auto;
	}
	.commentlist .avatar {
		height: 39px;
		left: 2.2em;
		top: 2.2em;
		width: 39px;
	}
	.commentlist li.comment .comment-meta {
		line-height: 2em;
		margin-left: 50px;
	}
	.commentlist li.comment .fn {
		display: block;
	}
	.commentlist li.comment .comment-content {
		margin: 2em 0 0;
	}
	.commentlist .comment-edit-link {
		display: none;
	}
	.commentlist > li::before,
	.commentlist > li.bypostauthor::before {
		content: '';
	}
	.commentlist .reply {
		display: none;
	}

	/* Post author highlighting */
	.commentlist > li.bypostauthor {
		color: #444;
	}
	.commentlist > li.bypostauthor .comment-meta {
		color: #666;
	}
	.commentlist > li.bypostauthor:before {
		content: none;
	}

	/* Post Author threaded comments */
	.commentlist .children > li.bypostauthor {
		background: #fff;
		border-color: #ccc;
	}
	.commentlist .children > li.bypostauthor > article,
	.commentlist .children > li.bypostauthor > article .comment-meta {
		color: #666;
	}

}


/* =IE7
----------------------------------------------- */

#ie7 article.intro {
	margin-left: -3%;
	margin-right: -3%;
	padding-left: -3%;
	padding-right: -3%;
	max-width: 1000px;
}
#ie7 section.featured-post {
	margin-left: -3%;
	margin-right: -3%;
	max-width: 850px;
}
#ie7 section.recent-posts {
	margin-right: 3%;
}


/* =Contactform7 
----------------------------------------------- */

#content span.wpcf7-not-valid-tip {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FF0018;
    font-size: 12px;
    left: 5px;
    line-height: 12px;
    padding: 2px;
    top: 0;
}