/*
 Theme Name:   Catch Box Child
 Theme URI:    http://catchthemes.com/themes/catchbox
 Description:  Catch Box Child Theme
 Author:       Aman Puri
 Author URI:   http://catchthemes.com
 Template:     catch-box
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         dark, light, blue, white, black, gray, green, red, brown, orange, one-column, two-columns, left-sidebar, right-sidebar, fixed-layout, fluid-layout, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
 Text Domain:  catch-box
*/


/*logo image editing*/
#branding img {
	height: auto;
	max-width: 30%;
	margin-top:10%;
}

/*centering the header logo*/
#site-logo{
	text-align:center;
}
.logo-wrap {
  display: inline;
  float: none;
}


/*pushing the header up*/
body.custom-background {
padding: 0em;
}

#header-content {
margin: 0 3%;
padding: 1.5em 0;
position: relative;
}




/* removes title from page */
.entry-title, .entry-title a {
	display: none;
}

#page {
	/* fixes the max/min width of the interactive area */
	max-width: 1200px;
	min-width: 900px;
	/* part of making the top transparent */
	background: transparent;
}

/* removes padding from body */
.page .entry-content {
padding: 0;
}

#branding {
	/* part of making the top transparent */
	background-color: transparent;
	margin:0 auto 0px;
}


/*getting rid of text at bottom right footer*/
#site-generator .powered {
display: none;
}


/*reduces padding for footer*/
#site-generator {
padding: 1em 0.5em;
}

/*sets width for widget bar*/
#secondary {
width: 20%;
}

/* expands content div */
#content {
width: 71%;
}


/*editing to appearance of the nav bar*/
#branding #access,
#colophon #access-footer {
margin: 0 auto 0px;
  font-weight: bold;
  background: #3d3d3d;
  border-radius: 0.5em;	
  border-bottom-left-radius:0;
  border-bottom-right-radius: 0;
}



/*change color of button of selected page on nav
#branding .menu .current-menu-item > a, #branding .menu .current_page_item > a {
	background:#FFA400;
}/*

/*adds spacing to top of pages above title*/
.hentry, .no-results, #author-info, #disqus_thread, #content .error404 {
	padding-top:1.5em;
}

/*adds spacing between primary and footer*/
#primary {
	margin-bottom: 3%;
}


/*editing the appearance of footer*/
#supplementary .widget {
  margin-bottom: 1em;
  background-color: #eee;
  border-radius: 0px;
  border-width: 1px;
  color: black;
  text-align: center;
  margin: 1em 1em 1em 1em;
  padding: 0.5em;
}
.shailan-dropdown-menu{
	margin-bottom: 1em;
}
#supplementary{
	padding-top: 0;
}



