.wrap {
    margin: 4px 15px 0 0;
    padding-right: 30px;
}

.js .postbox .hndle {
    cursor: move;
    margin: 0;
    padding: 8px;
}

.row {
    border-bottom: 1px dashed #EDEDED;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col.colone,
.col.coltwo,
.col.colthree{
	float:left;
	padding:0 10px;
}

.colone{
	width:25%;
}

.coltwo{
	width:45%;
}

.colthree{
	width:20%;
}

.col textarea,
.col input[type="text"],
.col select{
	width:80%;
}

.paddingtop20{
	padding-top:20px;
}

.side-block {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #FFFFFF;
    outline: thin solid #EBEBEB;
    padding: 10px;
}

small {
    color: #666666;
}

.clearfix{zoom:1;}.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}

@media only screen and (min-width:700px){
	.onecol{width:5.801104972%;}
	.twocol{width:14.364640883%;}
	.threecol{width:22.928176794%;}
	.fourcol{width:31.491712705%;}
	.fivecol{width:40.055248616%;}
	.sixcol{width:48.618784527%;}
	.sevencol{width:57.182320438000005%;}
	.eightcol{width:65.74585634900001%;}
	.ninecol{width:74.30939226%;}
	.tencol{width:82.87292817100001%;}
	.elevencol{width:91.436464082%;}
	.twelvecol{width:99.999999993%;}
	.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol,.twelvecol{position:relative;float:left;margin-left:2.762430939%;} 
	.first{margin-left:0;}
	.last{float:right;}
}

div.slide-inputs-row input[type="text"] {
    width: 35%;
}
div.slide-inputs-row{
	margin-bottom: 10px;
}
a.ad-button {
    background: none repeat scroll 0 0 #87D971;
    border-bottom: 5px solid #6DBF57;
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px #63B54D;
    margin-top: 15px;
    transition:0.1 ease-in-out all;
}
a.ad-button:hover{
	color: #FFFFFF;
}
a.ad-button:active{
	background: #6DBF57;
}